<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="${site.title}">首页</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="index-page" th:classappend="'width-' + ${theme.config.basic.layout.indexWidth}">
        <div class="index-container">
            <!-- Index Header -->
            <div class="index-header" th:classappend="'title-' + ${theme.config.basic.layout.indexTitlePosition}">
                <h1 class="index-title" th:text="${site.title}">网站标题</h1>
                <p class="index-description" th:text="${site.description}">网站描述</p>
            </div>
            
            <!-- Index Content (Custom Page Content) -->
            <div class="index-content" th:if="${singlePage}" th:utext="${singlePage.content.content}">
                <!-- 自定义首页内容 -->
            </div>
            
            <!-- Index Footer -->
            <div class="index-footer">
                <p th:utext="${theme.config.basic.footer.indexFooter}">Email: example@gmail.com</p>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
